<!-- Toolbar -->
<div class="toolbar" role="banner">
    <h1 appAlterarTexto></h1>

    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/interpolation">Interpolation</a>
        <a routerLink="/propb">Property Binding</a>
        <a routerLink="/eventb">Event Binding</a>
        <a routerLink="/two-way">Two-Way-Binding</a>
        <a routerLink="/pai">Decorators Propertys</a>
        <a routerLink="/if">Diretiva *ngIf</a>
        <a routerLink="/for">Diretiva *ngFor</a>
        <a routerLink="/class">Diretiva ngClass</a>
        <a routerLink="/style">Diretiva ngStyle</a>
        <a routerLink="/pipe">Diretiva Pipe</a>
        <a routerLink="/forms">Formulario</a>
    </nav>

    <!--Aqui vamos colocar nosso código-->





</div>



<router-outlet></router-outlet>