<!-- <p>interpolation works!</p> -->

<div>
    <h1>Interpolation Data Binding</h1>

    <span>O nome do segundo cliente selecionado é :{{clientesSelecionados[1]}} </span>
    <br />
    <hr>
    <br />
    <span>O valor da variavel x é: {{x}}</span>
    <br />
    <hr>
    <br />
    <span> O Array de numeros é composto pelos seguinte valores {{umArray}}</span>
    <br />
    <hr>
    <br />
    <span>A data de hoje é: {{dataHoje}}</span>
    <br />
    <hr>
    <br />
    <span>O status booleano indicado é: {{statusBool}}</span>
    <br />
    <hr>
    <br />
    <span>O status booleano indicado não é: {{!statusBool}}</span>
    <br />
    <hr>
    <br />
    <span>{{statusBool ? "Este é o texo certo para o status true" : "Este é o texto para o status false"}}</span>
    <br />
    <hr>
    <br />
    <span>{{exibirTexto()}}</span>
    <br />
    <hr>
    <br />
</div>